<h1>Create a Ingredients</h1>

<form action="/Ingredients" method="POST">
  <div class="form-group">
    <label for="name">Name</label>
    <!-- id match with for -->
    <input type="text" class="form-control" id="name" name="name" />
    <label for="origin">Origin</label>
    <input type="text" class="form-control" id="origin" name="origin" />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>