<h1>Edit <%= foundAlbum.name %>'s Song</h1>
<h4>Edit Tweet</h4>
<form
  action="/albums/<%= foundAlbum.id %>/songs/<%= foundSong.id %>?_method=PUT"
  method="POST"
>
  <div class="form-group">
    <label for="songName">Song Name</label>
    <input
      type="text"
      class="form-control"
      id="songName"
      name="songName"
      value="<%= foundSong.songName %>"
    />
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>